on:
  pull_request:
    branches:
      - development
    types:
      - closed

jobs:
  package:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4.1.1

      - name: Docker Login
        uses: docker/login-action@v3.0.0
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v5.0.0
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USER }}/healthify:latest

  deploy:
    runs-on: ubuntu-latest
    needs: package

    steps:
      - name: Deploy to Server
        run: |
          echo ${{ secrets.TOKEN }} | base64 -d > ./token
          chmod 600 ./token
          ssh -o StrictHostKeyChecking=no -i ./token ${{ secrets.USER_VM }}@${{ secrets.IP_VM }} 'cd $HOME; sudo docker compose down; sudo docker rmi $(sudo docker images -aq); sudo docker compose pull; sudo docker compose up -d'
